<h4> Insert Url <h4>
<form action="/bookmarks" method="post">
  <input type="text" name="title" placeholder="Title"/> <br>
  <input type="text" name="url" placeholder="URL"/> <br>
  <input type="submit" value="Confirm bookmark" />
</form>
<%= flash[:notice] %>
